---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HorizontalShopItem from "../../components/HorizontalShopItem.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths({ paginate }) {
  const items = await getCollection("store");
  items.sort((a, b) => b.data.updatedDate.valueOf() - a.data.updatedDate.valueOf());
  return paginate(items, { pageSize: 10 });
}
const { page } = Astro.props;
---

<BaseLayout title="Магазин" sideBarActiveItemID="store">
  <div>
    <div class="text-3xl w-full font-bold">Магазин</div>
  </div>

  <ul>
    {
      page.data.map((item) => (
        <>
          <HorizontalShopItem
            title={item.data.title}
            img={item.data.heroImage}
            desc={item.data.description}
            pricing={item.data.pricing}
            oldPricing={item.data.oldPricing}
            checkoutUrl={item.data.checkoutUrl}
            badge={item.data.badge}
            details={item.data.details}
            tags={item.data.tags}
            url={"/store/" + item.slug}
            custom_link={item.data.custom_link}
            custom_link_label={item.data.custom_link_label}
          />
          <div class="divider my-0" />
        </>
      ))
    }
  </ul>

  <div class="flex justify-between">
    {
      page.url.prev ? (
        <a href={page.url.prev} class="btn btn-ghost my-10 mx-5">
          ← Предыдущая страница
        </a>
      ) : (
        <div class="my-10 mx-5"></div>
      )
    }
    {
      page.url.next ? (
        <a href={page.url.next} class="btn btn-ghost my-10 mx-5">
          Следующая страница →
        </a>
      ) : (
        <div class="my-10 mx-5"></div>
      )
    }
  </div>
</BaseLayout>
